:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg-primary: #f0fdf4;

  --secondary_action_color: #10b981;
  --primary_accent_color: #047857;

  --text_color: #1f2937;
  --primary_action_color: #22c55e;
  --secondary_action_color: #16a34a;
  font-family: 'Nunito';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
