:root {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-primary: #f0fdf4;
  --bg-secondary: #d1fae5;
  --secondary_accent_color: #10b981;
  --primary_accent_color: #047857;
  --border-line: #e5e5e5;
  --text-color: #0f2f2a;
  --primary_action_color: #22c55e;
  --secondary_action_color: #16a34a;
  font-family: 'Nunito';
  --font-main: "Inter", "Helvetica Neue", Arial, sans-serif;

  --status-healthy-text: #065f46;
  --status-healthy-bg: #d1fae5;
  --status-sick-text: Red;
  --status-sick-bg: #f4acb7;
  --status-injured-text:Red;
  --status-injured-bg: #f4acb7;
  --status-unknown-text: #92400e;
  --status-unknown-bg: #fde68a;

}

.primary-btn { 
  background: linear-gradient(135deg, #065f46 0%, #10b981 100%);
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(255,143,171,0.4);
  font-size: 1.2rem;
  padding: 0.5em 1.5em;
  color: #fff;
  border:none;
}

.secondary-btn {
  background: #fff;
  border: 2px solid #22c55e;
  border-radius: 20px;
}  

.input-style {
  border: 2px solid #22c55e;
  border-radius: 15px;
  background: #fff;
}

