.animal-card {
    display:flex;
    flex-direction: row;
    align-items: center;
    
}


/* Sightings Cards related */
.sightingsList-ctn {
    gap: 30px;

}
.sighting-card{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
    border-radius:20px;
    background:white;
    gap:20px;
    max-width: 400px;
    box-shadow:0 10px 20px rgba(0,0,0,0.08);
}
.species-icon {
    width:60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--primary_accent_color);
    font-size: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: var(--bg-secondary);
}

.details-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.details-top .status-ctn {
    background-color: var(--bg-secondary);
    padding: 2px 8px;
    border-radius: 5px;
}

.status-ctn{
    font-size:12px;
    padding:4px 10px;
    border-radius:20px;
}

.status-ctn.healthy{
    background: var(--status-healthy-bg);
    color: var(--status-healthy-text);
}

.status-ctn.unknown{
    background: var(--status-unknown-bg);
    color: var(--status-unknown-text);
}

.status-ctn.injured, .status-ctn.sick{
    background: var(--status-injured-bg);
    color: var(--status-injured-text);
}