.animal-card {
    display:flex;
    flex-direction: row;
    align-items: center;
    
}


/* Sightings Cards related */
.sightingsList-ctn {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
.sighting-card{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
    border-radius:20px;
    background:white;
    gap:20px;
    width: 300px;
    box-shadow:0 10px 20px rgba(0,0,0,0.08);
}
.species-icon {
    width:60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--primary_accent_color);
    font-size: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: var(--bg-secondary);
}

.details-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.details-top .status-ctn {
    background-color: var(--bg-secondary);
    padding: 2px 8px;
    border-radius: 5px;
}

.status-ctn{
    font-size:12px;
    padding:4px 10px;
    border-radius:20px;
}

.status-ctn.healthy{
    background: var(--status-healthy-bg);
    color: var(--status-healthy-text);
}

.status-ctn.unknown{
    background: var(--status-unknown-bg);
    color: var(--status-unknown-text);
}

.status-ctn.injured, .status-ctn.sick{
    background: var(--status-injured-bg);
    color: var(--status-injured-text);
}


/* For  */

.animal-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);   

}
.animal-card-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
}
.animal-icon {
    font-size: 3rem;
    height: 70px;
    width: 70px;
    border: 3px var(--primary_accent_color) solid;
    border-radius: 50%;
    margin: 0 30px;
}

.name-ctn{
    display: flex;
    flex-direction: row;
    gap: 8px;
}